# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [30]:
import pandas as pd


def rating_class(rating):
    if (rating <= 2):
        return 'low'
    elif (rating > 2) & (rating <= 4):
        return 'medium'
    elif (rating == 4.5) or (rating == 5):
        return 'high'

data1 = pd.read_csv('movies.csv')
data2 = pd.read_csv('ratings.csv')

data2['class'] = data2['rating'].apply(rating_class)

data2.head()

merged_inner = pd.merge(left=data1,right=data2, left_on='movieId', right_on='movieId')

a = merged_inner[['title', 'rating', 'class']]

a

                                            title  rating   class
0                                Toy Story (1995)     4.0  medium
1                                Toy Story (1995)     4.0  medium
2                                Toy Story (1995)     4.5    high
3                                Toy Story (1995)     2.5  medium
4                                Toy Story (1995)     4.5    high
...                                           ...     ...     ...
100831  Black Butler: Book of the Atlantic (2017)     4.0  medium
100832               No Game No Life: Zero (2017)     3.5  medium
100833                               Flint (2017)     3.5  medium
100834        Bungo Stray Dogs: Dead Apple (2018)     3.5  medium
100835        Andrew Dice Clay: Dice Rules (1991)     4.0  medium

[100836 rows x 3 columns]

# Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Результат классификации запишите в отдельный столбец region.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [56]:
import pandas as pd

keywords = pd.read_csv('keywords.csv')

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def geo(keyword):
    for region, data in geo_data.items():
        if keyword in data:
            return region
        
keywords['region'] = keywords['keyword'].apply(geo)

keywords[ ((keywords['region'] == 'Центр') | (keywords['region'] == 'Северо-Запад') | (keywords['region'] == 'Дальний Восток')) ]

           keyword   shows          region
1259        москва  153050           Центр
5858   владивосток   43038  Дальний Восток
6075     ярославль   41720           Центр
8977      мурманск   29984    Северо-Запад
9084     хабаровск   29655  Дальний Восток
11222        псков   24885    Северо-Запад
11785         тула   23898           Центр
20823    петербург   14859    Северо-Запад
21445      сахалин   14494  Дальний Восток

# Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

3. для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [53]:
import pandas as pd

data1 = pd.read_csv('movies.csv')
data2 = pd.read_csv('ratings.csv')

a = pd.merge(left=data1,right=data2, left_on='movieId', right_on='movieId')

years = list(range(1950, 2010))

def production_year(title):
    for year in years:
        if str(year) in title:
            return str(year)

a['year'] = a['title'].apply(production_year)

a.groupby('year').mean()['rating'].sort_values(ascending=False).head(20)

year
1957    4.039535
1954    4.009191
1962    3.969466
1952    3.953125
1972    3.944293
1964    3.940160
1974    3.935622
1967    3.922572
1975    3.879121
1958    3.842424
1971    3.841463
1966    3.823684
1950    3.813665
1968    3.812212
1977    3.810406
1951    3.804945
1959    3.794239
1981    3.760732
1976    3.760047
1973    3.757764
Name: rating, dtype: float64